{% extends "base.html" %}
{% block content %}

<!--This will be displayed in case of 404 error or if somebody try to access a private are without logging in first-->
<div class="container">
    <div class="row">
        <div class="col s12 error">
            <h1 class="center-align">404</h1>
            <h2 class="center-align">Page not found </h2>
            <h5 class="center-align">Oh oh, you shouldn't be here.</h5>
            <h5 class="center-align"><a href="{{ url_for('index') }}">Go to homepage</a></h5>
        </div>
    </div>
</div>

{% endblock %}