/*-- fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,300;1,300&display=swap');

/*-- general --*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.custom {
    background: radial-gradient(circle, rgba(185, 175, 202, 1) 0%, rgb(218, 51, 51) 100%);
}

.collapsible {
    font-family: 'Roboto', sans-serif;
}

.phone-friendly {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

body {
    overflow: scroll;
}

.titles {
    margin-top: 120px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-style: italic;
}

#footer {
    position: absolute;
    background-color: #d32f2f;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.italia {
    margin-right: -100px;
    margin-top: 10px;
}

path:hover {
    fill: #fff;
}

path.selected {
    fill: #fff !important;
}

.regione {
    transition: all 200ms ease-in-out;
}


h5 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
}

.playfair {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: medium;
}

.flash {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: smaller;
}

.info {
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

p {
    font-family: 'Roboto', sans-serif;
}

.fixed-header {
    width: 100%;
    position: fixed;
    margin-top: 0px;
}

.box {
    width: 100%;
    margin: 0;
    /* Center the DIV horizontally */
}

/*-- big screens --*/
@media only screen and (min-width: 768px) {
    .logo {
        width: 150px;
    }

    .space {
        margin-top: 150px;
    }

    .italia {
        width: 560px;
        height: 663px;
    }
}

/*-- smartphones and small screens --*/
@media only screen and (max-width: 600px) {
    .logo {
        width: 100px;
    }

    .space {
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 50px;
        text-align: left;
    }

    .desc {
        text-align: right;
    }

    .instructions {
        margin: 30px;
        text-align: center;
    }

    .italia {
        height: inherit;
        width: inherit;
        text-align: center;
        margin: auto;
    }

    .small-ones {
        font-family: 'Roboto', sans-serif;
    }
}