/*-- fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,500;1,300;1,400&display=swap');

/*-- general --*/

h4 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-style: italic;
}

h5 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
}

h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-style: italic;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.158)), to(rgba(255, 255, 255, 0.13))), url(https://images.pexels.com/photos/39511/purple-grapes-vineyard-napa-valley-napa-vineyard-39511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.158), rgba(255, 255, 255, 0.13)), url(https://images.pexels.com/photos/39511/purple-grapes-vineyard-napa-valley-napa-vineyard-39511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background: linear-gradient(rgba(255, 255, 255, 0.158), rgba(255, 255, 255, 0.13)), url(https://images.pexels.com/photos/39511/purple-grapes-vineyard-napa-valley-napa-vineyard-39511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: auto;
}

.instructions {
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: small;
    color: black;
    overflow-wrap: break-word;
    line-height: 1.6;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

.titles {
    margin-top: 150px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.playfair {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: medium;
}

.flash {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: smaller;
}

.info {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

.fixed-header {
    width: 100%;
    position: fixed;
    margin-top: 0px;
}

.categ {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: larger;
    font-style: italic;
    letter-spacing: 2px;
}

.darken {
    color: black;
    font-weight: 500;
}

.rec {
    font-family: 'Roboto', sans-serif;
}

.btn-small {
    margin-left: 20px;
    display: inline;
}

.space {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: left;
}

.small-ones {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
}

/*-- navbar --*/

.custom {
    background: -o-radial-gradient(circle, rgba(185, 175, 202, 1) 0%, rgb(218, 51, 51) 100%);
    background: radial-gradient(circle, rgba(185, 175, 202, 1) 0%, rgb(218, 51, 51) 100%);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.italic {
    font-style: italic;
}

.side {
    margin-top: 20px;
}

.box {
    width: 100%;
    margin: 0;
}

.z {
    z-index: 50;
    position: fixed;
}

.logo {
    width: 100px;
    z-index: 900;
    position: relative;
}

.phone-friendly {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    margin-top: 50px;
}

.sidenav li>a {
    font-size: medium;
}

nav ul a {
    font-size: large;
}

/*-- footer --*/

.social-links a i {
    color: white;
    width: 40px;
    height: auto;
    margin-top: 5px;
}

.social-icons {
    margin-left: 15px;
    font-size: 18px;
}

.nice {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
}

/*-- home --*/

.qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    max-width: 180px;
    min-width: 50px;
    font-size: 14px;
    line-height: 17px;
    direction: ltr;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.qtip-content {
    position: relative;
    padding: 5px 9px;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
}

.qtip-default {
    font-style: italic;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-color: #5C0201;
    background-color: #ffffff;
    color: #5C0201;
    border-radius: 0px;
    padding: 5px;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
    position: absolute;
    background: transparent;
    border: 0 dashed transparent;
}

.italia {
    height: inherit;
    width: inherit;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

/*-- all recipes --*/

.search-bar {
    margin-left: -15px;
    margin-right: -15px;
}

.image {
    border: solid black 5px;
}

.round-button {
    border-radius: 50%;
}

.sorry {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.collection a.collection-item {
    margin: 5px;
    line-height: 42px;
}

.pasta {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322)), to(rgba(255, 255, 255, 0.226))), url("https://images.pexels.com/photos/6103858/pexels-photo-6103858.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/6103858/pexels-photo-6103858.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/6103858/pexels-photo-6103858.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.meat {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322)), to(rgba(255, 255, 255, 0.226))), url("https://images.pexels.com/photos/65175/pexels-photo-65175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/65175/pexels-photo-65175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/65175/pexels-photo-65175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
}

.fish {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322)), to(rgba(255, 255, 255, 0.226))), url("https://images.pexels.com/photos/2042591/pexels-photo-2042591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/2042591/pexels-photo-2042591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/2042591/pexels-photo-2042591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.pizza {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322)), to(rgba(255, 255, 255, 0.226))), url("https://images.pexels.com/photos/4109083/pexels-photo-4109083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/4109083/pexels-photo-4109083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background: linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://images.pexels.com/photos/4109083/pexels-photo-4109083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.desserts {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322)), to(rgba(255, 255, 255, 0.226))), url("https://cdn.pixabay.com/photo/2020/01/05/07/15/colorful-4742428_1280.jpg");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://cdn.pixabay.com/photo/2020/01/05/07/15/colorful-4742428_1280.jpg");
    background: linear-gradient(rgba(255, 255, 255, 0.322), rgba(255, 255, 255, 0.226)), url("https://cdn.pixabay.com/photo/2020/01/05/07/15/colorful-4742428_1280.jpg");
    background-position: center;
}

/*-- wine --*/

.wine-item {
    margin-top: 100px;
}

/*-- profile --*/

.edit-delete {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.modal {
    background-color: rgb(145, 22, 22);
}

.byme {
    font-size: x-large;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-style: italic;
}

/*-- add/edit recipe --*/

.pic {
    line-height: 10px;
}

/*-- 404 error --*/

.error {
    margin-top: 50%;
}

/*-----------------|LARGER DESKTOPS - XL|----------------*/

@media (min-width: 1200px) {

    .titles {
        margin-top: 200px;
    }

    .wine-item {
        width: 200px;
        height: 150px;
        line-height: 50px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        padding: 70px 0;
    }

    .logo {
        width: 150px;
    }

    .space {
        margin-top: 150px;
    }

    .italia {
        width: 460px;
        height: 563px;
        margin-top: -30%;
    }

    .intro {
        margin-left: -30%;
    }

    .item-special {
        margin-top: -30%;
    }
}