{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m12 center-align">
        <h3 class="titles">Add a new recipe!</h3>
    </div>
</div>


<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">

        <!--Recipe name-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-utensils prefix red-text text-darken-1"></i>
                <input id="recipe_name" name="recipe_name" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>

        <!--Region-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-map-signs prefix red-text text-darken-1"></i>
                <select id="region" name="region" class="validate" required>
                    <option value="" disabled selected>Region</option>
                    {% for region in regions %}
                    <option value="{{ region.region_name }}">{{ region.region_name }}</option>
                    {% endfor %}
                </select>
                <label for="region">Select a region</label>
            </div>
        </div>

        <!--Category-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-pizza-slice prefix red-text text-darken-1"></i>
                <select id="category" name="category" class="validate" required>
                    <option value="" disabled selected>Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="region">Select a category</label>
            </div>
        </div>

        <!--Option-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1 center-align">
                <p> Select one option</p>

                <p>
                    {% for option in options %}
                    <label>
                        <input name="option" id="option" value="{{ option.option_name }}" type="radio" checked />
                        <span>{{ option.option_name }}
                            {% if option.option_name == "Contains meat" %}
                            <i class="fas fa-drumstick-bite red-text text-darken-1"></i>
                            {% elif option.option_name == "Contains fish" %}
                            <i class="fas fa-fish red-text text-darken-1"></i>
                            {% elif option.option_name == "Vegetarian" %}
                            <i class="fas fa-leaf red-text text-darken-1"></i>
                            {% endif %}
                        </span>
                    </label>
                    {% endfor %}
                </p>
            </div>
        </div>

        <!--Difficulty-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dumbbell prefix red-text text-darken-1"></i>
                <select id="difficulty" name="difficulty" class="validate" required>
                    <option value="" disabled selected>Difficulty</option>
                    {% for difficulty in difficulty %}
                    <option value="{{ difficulty.difficulty_level }}">{{ difficulty.difficulty_level }}</option>
                    {% endfor %}
                </select>
                <label for="region">Select a difficulty level</label>
            </div>
        </div>

        <!--Quantity-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-people-arrows prefix red-text text-darken-1"></i>
                <input id="quantity" name="quantity" minlength="1" maxlength="2" pattern="^[0-9]{1,2}" type="text"
                    class="validate" required>
                <label for="quantity">Number servings</label>
            </div>
        </div>

        <!--Ingredients-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-list prefix red-text text-darken-1"></i>
                <input id="ingredients" name="ingredients" minlength="5" maxlength="200" type="text" class="validate"
                    required>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>

        <!--Step 1-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_1" name="step_1" minlength="5" maxlength="500" type="text" class="validate" required>
                <label for="step_1">Step 1</label>
            </div>
        </div>

        <!--Step 2-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_2" name="step_2" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_2">Step 2</label>
            </div>
        </div>

        <!--Step 3-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_3" name="step_3" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_3">Step 3</label>
            </div>
        </div>

        <!--Step 4-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_4" name="step_4" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_4">Step 4</label>
            </div>
        </div>

        <!--Step 5-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_5" name="step_5" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_5">Step 5</label>
            </div>
        </div>

        <!--Step 6-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_6" name="step_6" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_6">Step 6</label>
            </div>
        </div>

        <!--Step 7-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_7" name="step_7" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_7">Step 7</label>
            </div>
        </div>

        <!--Step 8-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_8" name="step_8" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_8">Step 8</label>
            </div>
        </div>

        <!--Step 9-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_9" name="step_9" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_9">Step 9</label>
            </div>
        </div>

        <!--Step 10-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <input id="step_10" name="step_10" minlength="5" maxlength="500" type="text" class="validate">
                <label for="step_10">Step 10</label>
            </div>
        </div>

        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large waves-effect waves-light red darken-1 text-shadow">
                    Add this new recipe
                    <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}