{% extends "base.html" %}
{% block content %}

<div class="row center-align">
    <div class="col s12 m6 ">
        <h3 class="titles">Find the recipe for you!</h3>
    </div>
</div>

<div class="instructions">
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix red-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="" class="red btn text-shadow">Clear</a>
                    <button type="submit" class="green btn text-shadow">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row recipes">
    <div class="col s12 m6 offset-m3">

        <ul class="collapsible">
            <li>
                {% for category in categories %}
                <div class="collapsible-header white-text red darken-4 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ category.category_name }}</strong>
                </div>

                {% for recipe in recipes %}
                {% if recipe.category == category.category_name %}

                <div class="collapsible-body">
                    <span>{{ recipe.recipe_name }}</span>
                    {% if recipe.option == "Contains meat" %}
                    <i class="fas fa-drumstick-bite tooltipped" data-position="right"
                        data-tooltip="Contains meat"></a></i>
                    {% elif recipe.option == "Contains fish" %}
                    <i class="fas fa-fish tooltipped" data-position="right" data-tooltip="Contains fish"></i>
                    {% elif recipe.option == "Vegetarian" %}
                    <i class="fas fa-leaf tooltipped" data-position="right" data-tooltip="Vegetarian"></i>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </li>

        </ul>
    </div>
</div>

{% endblock %}