{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m12 center-align">
        <h3 class="titles">Find the recipe for you!</h3>
    </div>
</div>


<div class="row search-bar">
    <div class="col s12 m6 offset-m3">
        <form action="{{ url_for('search') }}" method="POST">
            <div class="row center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix red-text"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes')}}" class="red btn round-button"><i class="fas fa-undo"></i></a>
                    <button type="submit" class="white btn round-button"><i class="fas fa-search red-text"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>




<div class="row recipes">
    <div class="col s12 m12">

        <ul class="collection with-header border">
            {% for category in categories %}
            {% if category.category_name == "Pasta" %}
            <li class="collection-header white-text text-shadow categ center-align pasta">
                <h4>{{ category.category_name }}</h4>
            </li>
            {% elif category.category_name == "Meat" %}
            <li class="collection-header white-text  text-shadow categ center-align meat">
                <h4>{{ category.category_name }}</h4>
            </li>
            {% elif category.category_name == "Fish" %}
            <li class="collection-header white-text  text-shadow categ center-align fish">
                <h4>{{ category.category_name }}</h4>
            </li>
            {% elif category.category_name == "Pizza" %}
            <li class="collection-header white-text  text-shadow categ center-align pizza">
                <h4>{{ category.category_name }}</h4>
            </li>
            {% elif category.category_name == "Desserts" %}
            <li class="collection-header white-text  text-shadow categ center-align desserts">
                <h4>{{ category.category_name }}</h4>
            </li>

            {% endif %}

            {% for recipe in recipes %}
            {% if recipe.category == category.category_name %}
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id)}}"
                class="collection-item center-align">{{ recipe.recipe_name }}
                {% if recipe.option == "Contains meat" %}
                <i class="fas fa-drumstick-bite tooltipped" data-position="right" data-tooltip="Contains meat"></a></i>
            {% elif recipe.option == "Contains fish" %}
            <i class="fas fa-fish tooltipped" data-position="right" data-tooltip="Contains fish"></i>
            {% elif recipe.option == "Vegetarian" %}
            <i class="fas fa-leaf tooltipped" data-position="right" data-tooltip="Vegetarian"></i>
            {% endif %}</a>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}