<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="static/images/pizza.png">
    {% block styles %}
    {% endblock %}
    <!--title-->
    <title>Italian Inside</title>

</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header>
                <div class="fixed-header">
                    <div class="box z">
                        <!-- main navbar -->
                        <nav class="nav-extended text-shadow red darken-2 nice italic">
                            <div class="nav-wrapper">
                                <a href="{{ url_for('index') }}"><img class="brand-logo center logo"
                                        src="static/images/italian_inside.png" alt="Italian Inside"></a>
                                <a href="#" data-target="mobile-demo" class="sidenav-trigger right draggable"><i
                                        class="fas fa-hamburger"></i></a>
                                <ul class="left hide-on-med-and-down">
                                    <li><a href="{{ url_for('index') }}">- Home -</a></li>
                                    <li><a href="{{ url_for('get_recipes') }}">- All Recipes -</a></li>
                                    <li><a href="{{ url_for('wine') }}">- Casale del Giglio -</a></li>
                                </ul>
                                <ul class="right hide-on-med-and-down">
                                    {% if session.user %}
                                    <li><a href="{{ url_for('profile', username=session['user']) }}">- Profile -</a>
                                    </li>
                                    <li><a href="{{ url_for('logout') }}">- Log Out -</a></li>
                                    {% else %}
                                    <li><a href="{{ url_for('login') }}">- Log In -</a></li>
                                    <li><a href="{{ url_for('register') }}">- Register -</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <!-- mobile collapsible menu -->
                <ul class="sidenav center-align custom" id="mobile-demo">
                    <a href="{{ url_for('index') }}"><img class="brand-logo logo side"
                            src="static/images/italian_inside.png" alt="Italian Inside"></a>
                    <li><a class="white-text phone-friendly" href="{{ url_for('get_recipes') }}">- All Recipes -</a>
                    </li>
                    <li><a class="white-text phone-friendly" href="{{ url_for('wine') }}">- Casale del Giglio -</a></li>
                    {% if session.user %}
                    <li><a class="white-text phone-friendly" href="{{ url_for('profile', username=session['user']) }}">-
                            Profile -</a></li>
                    <li><a class="white-text phone-friendly" href="{{ url_for('logout') }}">- Log Out -</a></li>
                    {% else %}
                    <li><a class="white-text phone-friendly" href="{{ url_for('login') }}">- Log In -</a></li>
                    <li><a class="white-text phone-friendly" href="{{ url_for('register') }}">- Register -</a></li>
                    {% endif %}
                </ul>
            </header>
            <!--the content will go in here-->
            <main class="container">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer red darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h4 class="white-text">Join us!</h4>
                    <p class="white-text nice">
                        Italian Inside was born from the desire of creating a meeting between Italian people that
                        want to share the delicious heritage that their <em>nonna</em> left to them, and cuisine
                        enthusiasts from every corner of the word.
                    </p>
                    <p class="white-text nice">
                        If you are Italian or you are a citizen of the world, it doesn't matter.<br>
                        We can all be Italians...Inside!
                    </p>
                </div>
                <!-- Contacts -->
                <div class="col l4 offset-l2 s12">
                    <h4 class="white-text">Contact us!</h4>
                    <p class="white-text text-lighten-4">
                        Do you have a question, a suggestion or you would just like to have a chat with us?<br>
                        Don't hesitate, send us an email!
                    </p>
                    <a href="mailto:francescalupu1996@gmail.com">
                        <h6 class="white-text">francescalupu1996@gmail.com</h6>
                    </a>
                </div>
            </div>
        </div>
        <!--social links-->
        <div class="footer-copyright">
            <div class="container white-text nice">
                © 2021 Francesca Lupu
                <a class="white-text right social-icons" target="_blank" href="https://youtube.com/"><i
                        class="fab fa-youtube-square"></i></a>
                <a class="white-text right social-icons" target="_blank" href="https://www.instagram.com/"><i
                        class="fab fa-instagram-square"></i></a>
                <a class="white-text right social-icons" target="_blank" href="https://www.facebook.com/"><i
                        class="fab fa-facebook-square"></i></a>
            </div>
        </div>
    </footer>
    <!--script-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"
        integrity="sha512-BxJRFdTKV85fhFUw+olPr0B+UEzk8FTLxRB7dAdhoQ7SXmwMECj1I4BlSmZfeoSfy0OVA8xFLTDyObu3Nv1FoQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>