<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Italian Inside</title>
    <link rel="shortcut icon" type="image/png"
        href="https://lh3.googleusercontent.com/sflHJS1VbAhUNoiBD-mYeG2aurINiKESP2gvQwlxwsJCBN3yMaIvpycAJTWRZJLnJchtWPNY3gcphqBgXDOMuhwILHS9BwuteSmO7faAdomzZpcG9Kz37AvDmpURud4InCtE56Fje7mQjB2hMM1-j_9Rgz7XitT7ETEfgGx1Ow4hikAOyFj2bib-9yzlRxLDh5P2ggtz4nW3oBdmysiUDF7OgaBEA5FUXvDuPvmBj0n_9VOBS7NTRlMAiYY7GiUv5fje8b1uHNk-1Xe319dph7ZAuStwv12phjYH-k-wzJu7rpE3oX-FcT58nel76UbcZM6BYr7RXxqiAdgUMcl-XA8-iEmYe-124PRB2NA4OxMKrr75WmzWKDzUdgmFnyH5JK7_WLwS_3CR0-YIIkvIwXgLITOYDZVTuaEdah4GWi4gx2VVqmwJw56fN1_g56aTTQxyxHvK8ygKrtOAqQZh0bo9b-yU6VhO-M3O48Q98AOLlm9aTT5rUdfRY66_j4bIGsffXMxOyEMMoLb9j2EPptSwszvS4Qimh1YGjYRY014ewWndefzoijq9daBsVmBsbw-oBzLl2JMMB2BaA8DHk0jDfDsSxKroK2BiV961mnRWSIBneCgFAJ0ZcU5vDej3hj-HOydKzp4xi0Oad3OvBZU4HZXwEJ_3KVq3mMm3Ef3yzWCeScnidiEYtan2y7TZnbtstwB_f5G7gKj0Ip8q0QGB2Q=s32-no?authuser=0">
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header>
                <div class="fixed-header">
                    <div class="box">
                        <!-- main navbar -->
                        <nav class="nav-extended text-shadow red darken-2 nice italic">
                            <div class="nav-wrapper">
                                <a href="{{ url_for('index') }}"><img class="brand-logo center logo"
                                        src="https://lh3.googleusercontent.com/70GAo8hQHBNR7WL2X-Wgw-o7SKP0Q2V38KzVmpv-rr1FP0AcOipOYQMNoo6oUz4yvboJj3AFsPa6A6pVh129h4S4U-OO5kDLmFN8fyOuvop4OzYqhApKK8dwnZwpjzvNg3nW_f_7LyNevE9gD-kWozeVJzBlSJ7T8SPnvzyryu_zQvmZ6r31E1cQUeTJEZPOSTdRoKG5XS4rTxRuebsXcfVSc3MsjwCjl_iYuuNpt9I6lIwvm405JleXdXaYnTDPD_UO4rYzkK4Mwf9Cj0-mbkXXGEnQYq3LJNPJ9h447AaQCJkFd9stOe18ai3dKTZRx9j5DK89w4PWdH-hWaSmB2lN6lgM6vu_m5ePDwNZ3XV0rE7LU9tPTdmqjGVU_XB25TwT0row7y-VbVWa3hyQNHZwVFHkaWBzW5qp7wSQKsamjR9ZLOU04SG3V-Iryf5xo4P9dE5WXCOa1hRG5txCnRONEt5zD5YDdeFS-2le-teI3_McIR5X5hx61nplDtzOIZg1gzR-lNRWQWJCyyDBHEwQeFdAJfN7X2LC4n4qpaZNZYQl9Rd23vQ-M2Cc0s1yQgMCRR_hVmJ0s7jgd724EfAOJ1sRJA2NSQS2dlBfawyxMTBUCszrvHPKFRqMCr9Ylf0AjwcZMRe-6wNMh58N1_SpYuKYle55v2SThiCMcd6GLf3g2UTW6Bqc9gd_bf_8CrfbDZEKCUUMbegWkZrEsFTddA=s500-no?authuser=0"
                                        alt="Italian Inside"></a>
                                <a href="#" data-target="mobile-demo" class="sidenav-trigger right draggable"><i
                                        class="fas fa-hamburger"></i></a>
                                <ul class="left hide-on-med-and-down">
                                    <li><a href="{{ url_for('index') }}">- Home -</a></li>
                                    <li><a href="{{ url_for('get_recipes') }}">- All Recipes -</a></li>
                                    <li><a href="{{ url_for('wine') }}">- Casale del Giglio -</a></li>
                                </ul>
                                <ul class="right hide-on-med-and-down">
                                    {% if session.user %}
                                    <li><a href="{{ url_for('profile', username=session['user']) }}">- Profile -</a>
                                    </li>
                                    <li><a href="{{ url_for('logout') }}">- Log Out -</a></li>
                                    {% else %}
                                    <li><a href="{{ url_for('login') }}">- Log In -</a></li>
                                    <li><a href="{{ url_for('register') }}">- Register -</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <!-- mobile collapsible menu -->
                <ul class="sidenav center-align custom" id="mobile-demo">
                    <li>
                        <h4 class="center-align"></h4>
                    </li>
                    <a href="{{ url_for('index') }}"><img class="brand-logo logo"
                            src="https://lh3.googleusercontent.com/70GAo8hQHBNR7WL2X-Wgw-o7SKP0Q2V38KzVmpv-rr1FP0AcOipOYQMNoo6oUz4yvboJj3AFsPa6A6pVh129h4S4U-OO5kDLmFN8fyOuvop4OzYqhApKK8dwnZwpjzvNg3nW_f_7LyNevE9gD-kWozeVJzBlSJ7T8SPnvzyryu_zQvmZ6r31E1cQUeTJEZPOSTdRoKG5XS4rTxRuebsXcfVSc3MsjwCjl_iYuuNpt9I6lIwvm405JleXdXaYnTDPD_UO4rYzkK4Mwf9Cj0-mbkXXGEnQYq3LJNPJ9h447AaQCJkFd9stOe18ai3dKTZRx9j5DK89w4PWdH-hWaSmB2lN6lgM6vu_m5ePDwNZ3XV0rE7LU9tPTdmqjGVU_XB25TwT0row7y-VbVWa3hyQNHZwVFHkaWBzW5qp7wSQKsamjR9ZLOU04SG3V-Iryf5xo4P9dE5WXCOa1hRG5txCnRONEt5zD5YDdeFS-2le-teI3_McIR5X5hx61nplDtzOIZg1gzR-lNRWQWJCyyDBHEwQeFdAJfN7X2LC4n4qpaZNZYQl9Rd23vQ-M2Cc0s1yQgMCRR_hVmJ0s7jgd724EfAOJ1sRJA2NSQS2dlBfawyxMTBUCszrvHPKFRqMCr9Ylf0AjwcZMRe-6wNMh58N1_SpYuKYle55v2SThiCMcd6GLf3g2UTW6Bqc9gd_bf_8CrfbDZEKCUUMbegWkZrEsFTddA=s500-no?authuser=0"
                            alt="Italian Inside"></a>
                    <li><a class="white-text phone-friendly" href="{{ url_for('get_recipes') }}">- All Recipes -</a>
                    </li>
                    <li><a class="white-text phone-friendly" href="{{ url_for('wine') }}">- Casale del Giglio -</a></li>
                    {% if session.user %}
                    <li><a class="white-text phone-friendly" href="{{ url_for('profile', username=session['user']) }}">-
                            Profile -</a></li>
                    <li><a class="white-text phone-friendly" href="{{ url_for('logout') }}">- Log Out -</a></li>
                    {% else %}
                    <li><a class="white-text phone-friendly" href="{{ url_for('login') }}">- Log In -</a></li>
                    <li><a class="white-text phone-friendly" href="{{ url_for('register') }}">- Register -</a></li>
                    {% endif %}
                </ul>
            </header>

            <main class="container">
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <!-- Footer -->
        <footer class="page-footer red darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h4 class="white-text">Join us!</h4>
                        <p class="white-text nice">
                            Italian Inside was born from the desire of creating a meeting between Italian people that
                            want to share the delicious heritage that their <em>nonna</em> left to them, and cuisine
                            enthusiasts from every corner of the word.
                        </p>
                        <p class="white-text nice">
                            If you are Italian or you are a citizen of the world, it doesn't matter.<br>
                            We can all be Italians...Inside!
                        </p>
                    </div>
                    <!-- Contacts -->
                    <div class="col l4 offset-l2 s12">
                        <h4 class="white-text">Contact us!</h4>
                        <p class="white-text text-lighten-4">
                            Do you have a question, a suggestion or you would just like to have a chat with us?
                            Don't hesitate send us an email!
                        </p>
                        <a href="mailto:francescalupu1996@gmail.com">
                            <h6 class="white-text">francescalupu1996@gmail.com</h6>
                        </a>


                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container white-text nice">
                    © 2021 Francesca Lupu
                    <a class="white-text right social-icons" target="_blank" href="https://youtube.com/"><i
                            class="fab fa-youtube-square"></i></a>
                    <a class="white-text right social-icons" target="_blank" href="https://www.instagram.com/"><i
                            class="fab fa-instagram-square"></i></a>
                    <a class="white-text right social-icons" target="_blank" href="https://www.facebook.com/"><i
                            class="fab fa-facebook-square"></i></a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"
        integrity="sha512-HqbDsHIJoZ36Csd7NMupWFxC7e7aX2qm213sX+hirN+yEx/eUNlZrTWPs1dUQDEW4fMVkerv1PfMohR1WdFFJQ=="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='map/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='map/map.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>