{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m12 center-align">
        <h3 class="titles">Edit your recipe</h3>
    </div>
</div>


<div class="row form">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">

        <!--Recipe name-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-utensils prefix red-text text-darken-1"></i>
                <input id="recipe_name" name="recipe_name" minlength="3" maxlength="50" value="{{ recipe.recipe_name }}"
                    type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>

        <!--Picture-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="pic fas fa-camera prefix red-text text-darken-1"></i>
                <input id="picture" name="picture" type="url" value="{{ recipe.picture }}" pattern="https?://.+"
                    minlength="6" maxlength="900" class="validate" required>
                <label for="picture">Image URL</label>
                <span class="helper-text" data-error="Please, enter a valid URL" data-success="Great!"></span>
            </div>
        </div>

        <!--Region-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-map-signs prefix red-text text-darken-1"></i>
                <select id="region" name="region" class="validate" required>
                    <option value="" disabled>Region</option>
                    {% for region in regions %}
                    {% if region.region_name == recipe.region %}
                    <option value="{{ region.region_name }}" selected>{{ region.region_name }}</option>
                    {% else %}
                    <option value="{{ region.region_name }}">{{ region.region_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="region">Select a region</label>
            </div>
        </div>

        <!--Category-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-pizza-slice prefix red-text text-darken-1"></i>
                <select id="category" name="category" class="validate" required>
                    <option value="" disabled>Category</option>
                    {% for category in categories %}
                    {% if category.category_name == recipe.category %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="region">Select a category</label>
            </div>
        </div>

        <!--Option-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1 center-align">
                <p> Select one option</p>

                <p>
                    {% for option in options %}
                    {% if option.option_name == recipe.option %}
                    <label>
                        <input name="option" id="option" value="{{ recipe.option }}" type="radio" checked />
                        <span>{{ option.option_name }}
                            {% if option.option_name == "Contains meat" %}
                            <i class="fas fa-drumstick-bite red-text text-darken-1"></i>
                            {% elif option.option_name == "Contains fish" %}
                            <i class="fas fa-fish red-text text-darken-1"></i>
                            {% elif option.option_name == "Vegetarian" %}
                            <i class="fas fa-leaf red-text text-darken-1"></i>
                            {% endif %}
                        </span>
                    </label>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>

        <!--Difficulty-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dumbbell prefix red-text text-darken-1"></i>
                <select id="difficulty" name="difficulty" class="validate" required>
                    <option value="" disabled>Difficulty</option>
                    {% for difficulty in difficulty %}
                    {% if difficulty.difficulty_level == recipe.difficulty %}
                    <option value="{{ difficulty.difficulty_level }}" selected>{{ difficulty.difficulty_level }}
                    </option>
                    {% else %}
                    <option value="{{ difficulty.difficulty_level }}">{{ difficulty.difficulty_level }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="region">Select a difficulty level</label>
            </div>
        </div>

        <!--Quantity-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-people-arrows prefix red-text text-darken-1"></i>
                <input id="quantity" name="quantity" pattern="^[0-9]{1,2}" minlength="1" maxlength="2"
                    pattern="^[0-9]{1,2}" value="{{ recipe.quantity }}" type="text" class="validate" required>
                <label for="quantity">Number servings</label>
                <span class="helper-text" data-error="Please, insert a number from 1 to 99"></span>
            </div>
        </div>

        <!--Wine Pairing-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-wine-bottle prefix red-text text-darken-1"></i>
                <input id="wine_pairing" name="wine_pairing" pattern="^[a-zA-Z0-9]{5,50}" minlength="5" maxlength="50"
                    value="{{ recipe.wine_pairing }}" type="text" class="validate" required>
                <label for="wine_pairing">Wine pairing</label>
            </div>
        </div>

        <!--Ingredients-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-utensils prefix red-text text-darken-1"></i>
                <textarea name="ingredients" id="ingredients" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required>
                    {{- recipe.ingredients -}}
                </textarea>
                <label for="ingredients">Ingredients</label>
                <span class="helper-text" data-error="Wrong" data-success="Perfect!"> Please, write every ingredient on
                    a new line </span>
            </div>
        </div>

        <!--Preparation-->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="fas fa-dot-circle prefix red-text text-darken-1"></i>
                <textarea name="preparation" id="preparation" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required>
                    {{- recipe.preparation -}}
                </textarea>
                <label for="preparation">Preparation</label>
                <span class="helper-text" data-error="Wrong" data-success="Perfect!"> Please, write every step on a new
                    line </span>
            </div>
        </div>

        <!--Cancel button-->


        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_recipes') }}" class="btn-large red text-shadow">Cancel changes <i
                        class="fas fa-times-circle right"></i></a>
                <button type="submit" class="btn-large waves-effect waves-light green darken-1 text-shadow">
                    Save changes
                    <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}