{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 l6 item">
        <h3 class="titles red-text center-align intro">Be Italian Inside!</h3>

        <h5 class="hide-on-med-and-up small-ones center-align">Discover the real Italian cuisine</h5>

        <h5 class="desc hide-on-small-only intro center-align">The Ultimate Italian cookbook!<br>
            Find, add, cook and share real Italian recipes.<br>
            Explore the Italian regions and discover <br> their gastronomic treasures.
        </h5>

        <p class="instructions intro">Click on the regions and discover their traditional and delicious recipes <i
                class="fas fa-arrow-right hide-on-med-and-down"></i></p>
    </div>

    <div class="col s12 l6 offset-l8 italia item">
        <div id="map"></div>
    </div>
</div>

{% endblock %}