{% extends "base.html" %}
{% block content %}

<!-- title -->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <h3 class="center-align red-text text-darken-4 titles">
            Hello {{ username }} !
        </h3>
    </div>
</div>

<!-- flash messages-->
<section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="div row flash">
        <h4 class="red lighten-3 center-align">
            {{ message }}
        </h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>

<!-- button to add a new recipe -->
<div class="row">
    <div class="center-align col s12 m8 offset-m2">
        <a class="waves-effect waves-light btn-large red darken-2" href="{{ url_for('add_recipe') }}">Add a new
            recipe!</a>
    </div>
</div>

<!-- view my recipes -->

<div class="row">
    <div class="col s12 m6">
        <h5 class="card-panel black-text red darken-4 byme center-align custom"><i class="fas fa-plus"></i> Added
            by me
            <i class="fas fa-plus"></i>
        </h5>
        <ul class="collapsible">
            {% for recipe in user_recipes %}
            <li>
                <div class="collapsible-header red darken-4">
                    <div class="col s2">
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="col s12 m4 white-text">
                        <h6>{{ recipe.recipe_name }}</h6>
                    </div>
                    <div class="col s5">
                        <!-- Delete button -->
                        <a class="modal-trigger edit-delete right" href="#modal{{ loop.index }}"><i
                                class="fas fa-trash-alt white-text"></i></a>

                        <div id="modal{{ loop.index }}" class="modal white-text">
                            <div class="modal-content">
                                <h4>Are you sure you want to delete {{ recipe.recipe_name }}?</h4>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close green-text btn-flat">Cancel</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}"
                                    class="modal-close red-text lighten-3 btn-flat">Delete</a>
                            </div>
                        </div>
                        <!-- Edit button -->
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="edit-delete right"><i
                                class="fas fa-edit white-text"></i></a>
                    </div>
                </div>
                <!-- Recipe in short -->
                <div class="collapsible-body">
                    <h6><a class="red-text right" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">SEE
                            RECIPE</a>
                    </h6>
                    <h6><b>Region:</b> {{ recipe.region }}</h6>
                    <h6><b>Category:</b> {{ recipe.category }}</h6>
                    <h6><b>Option:</b> {{ recipe.option }}</h6>
                    <h6><b>Difficulty:</b> {{ recipe.difficulty }}</h6>
                    <h6><b>Servings:</b> {{ recipe.quantity }}</h6>
                    <h6><b>Ingredients:</b> {{ recipe.ingredients }}</h6>
                    <h6><b>Wine pairing:</b> {{ recipe.wine_pairing}}</h6>
                    <h6><b>Preparation:</b> {{ recipe.preparation}}</h6>
                    <h6><b>Author:</b> {{ recipe.created_by}}</h6>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col s12 m6">
        <h5 class="card-panel black-text red darken-4 byme center-align custom"><i class="fas fa-heart"></i> My
            Favorites <i class="fas fa-heart"></i></h5>
        <ul class="collapsible">
        </ul>
    </div>
</div>


{% endblock %}