{% extends "base.html" %}
{% block content %}

<!-- title -->
<div class="row">
    <div class="col s12 m12 center-align">
        {% for recipe in recipes %}
        <h3 class="titles">- {{ recipe.recipe_name }} -</h3>
    </div>
</div>
<!--picture-->
<div class="row">
    <div class="col s12 l6 center-align">
        <img src="{{ recipe.picture }}" width="70%" height="auto" alt="Recipe" class="image">
    </div>
    <!--recipe-->
    <div class="col s12 l6 center-align">
        <h6><i class="fas fa-map-signs prefix"></i> Region: {{ recipe.region }}
        </h6>
        <h6><i class="fas fa-dumbbell prefix"></i> Difficulty:{{ recipe.difficulty }}
        </h6>
        <h6><i class="fas fa-people-arrows prefix"></i> Servings:{{ recipe.quantity }}
        </h6>
        <h6><i class="fas fa-wine-bottle prefix"></i> Better if tasted with a glass
            of:{{ recipe.wine_pairing }}
        </h6>
        <br>
        <h6><i class="fas fa-list prefix"></i> Ingredients </h6>
        <ul>
            {% for list in recipe.ingredients.splitlines() %}
            <li>
                <p><i class="far fa-dot-circle"></i> {{list}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--steps recipe-->
<div class="row">
    <div class="col l8 offset-l2">
        <h4 class="center-align">Preparation</h4>
        <ol>
            {% for steps in recipe.preparation.splitlines() %}
            <li>
                <p>{{steps}}</p>
            </li>
            {% endfor %}
        </ol>
        <h4 class="center-align red-text text-darken-4">Buon Appetito!</h4><br>
        <!--button to go back to all recipes-->
        <h6 class="center-align"><a class="red-text" href="{{ url_for('get_recipes') }}">CLICK HERE TO GO BACK TO ALL
                RECIPES</a></h6>
    </div>
</div>

{% endfor %}
{% endblock %}