{% extends "base.html" %}
{% block content %}


<div class="row center-align">
    <div class="col s12 m6 ">
        <h3 class="titles" value="{{ region.region_name }}">
            {% for region in regions %}
            {{ region.region_name }}
        </h3>

        <h5>Famous for: {{ region.famous_for}} </h5>

        <!--add image for region-->



        <div class="col s12 m4">
            <ul class="collection with-header">
                {% for category in categories %}
                <li class="collection-header white-text red darken-4 text-shadow categ center-align">
                    <h4>{{ category.category_name }}</h4>
                </li>
                {% endfor %}

                {% for recipe in recipes %}
                {% if recipe.region == region.region_name %}
                <a href="{{ url_for('view_recipe') }}" class="collection-item center-align">{{ recipe.recipe_name }}</a>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}