{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col s12 m12 wine-item center-align">
        <h3 class="titles">- A meal without wine is called breakfast -</h3>
        <img src="https://res.cloudinary.com/cookbookii/image/upload/v1619091091/CDG_logo_2019_300_bsb6jv.png"
            alt="Casale del Giglio" class="center-align">
        <p class="instructions"> Italian Inside suggests to pair its preciously traditional dishes to the
            Casale
            del Giglio wines. <br>
            A company created in 1914 in Rome and that since continue to produce great wines.<br>
            Their vast collection makes it easy to find a perfect wine for every occasion or dish you decide to
            realize.
        </p>
        <a class="waves-effect waves-light btn red darken-2 center-align" href="https://www.casaledelgiglio.it/en/"
            target="__blank">Discover
            the range!</a>
    </div>
</div>


{% endblock %}